body {
    background-color: blanchedalmond;
}

h1 {
    font-family: 'Brush Script MT', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

a {
    color: red;
}